In [107]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
import pandas as pd
import numpy as np

In [108]:
data = {"Name": ["Aman","Riya","Rahul","Sneha","Arjun","Pooja","Karan","Neha","Vikram","Anjali"],
    "Gender": ["Male","Female","Male","Female","Male","Female","Male","Female","Male","Female"],
    "Department": ["CSE","IT","ECE","CSE","ME","IT","CSE","ECE","ME","CSE"],
    "City": ["Delhi","Mumbai","Kolkata","Delhi","Chennai","Mumbai","Delhi","Kolkata","Chennai","Delhi"],
    "Performance": ["Good","Average","Poor","Good","Average","Good","Good","Average","Poor","Good"]}
LE = LabelEncoder()

In [109]:
df = pd.DataFrame(data)

In [110]:

print("Dataset Created Successfully:\n")
print(df)

Dataset Created Successfully:

     Name  Gender Department     City Performance
0    Aman    Male        CSE    Delhi        Good
1    Riya  Female         IT   Mumbai     Average
2   Rahul    Male        ECE  Kolkata        Poor
3   Sneha  Female        CSE    Delhi        Good
4   Arjun    Male         ME  Chennai     Average
5   Pooja  Female         IT   Mumbai        Good
6   Karan    Male        CSE    Delhi        Good
7    Neha  Female        ECE  Kolkata     Average
8  Vikram    Male         ME  Chennai        Poor
9  Anjali  Female        CSE    Delhi        Good

In [111]:
LE = LabelEncoder()
df['Gender_encoded'] = LE.fit_transform(df['Gender'])
print(df)

     Name  Gender Department     City Performance  Gender_encoded
0    Aman    Male        CSE    Delhi        Good               1
1    Riya  Female         IT   Mumbai     Average               0
2   Rahul    Male        ECE  Kolkata        Poor               1
3   Sneha  Female        CSE    Delhi        Good               0
4   Arjun    Male         ME  Chennai     Average               1
5   Pooja  Female         IT   Mumbai        Good               0
6   Karan    Male        CSE    Delhi        Good               1
7    Neha  Female        ECE  Kolkata     Average               0
8  Vikram    Male         ME  Chennai        Poor               1
9  Anjali  Female        CSE    Delhi        Good               0

In [112]:
ohe = OneHotEncoder(sparse_output=False)
encoded_features = ohe.fit_transform(df[['Department']])
df = pd.DataFrame(encoded_features)
print(df)

     0    1    2    3
0  1.0  0.0  0.0  0.0
1  0.0  0.0  1.0  0.0
2  0.0  1.0  0.0  0.0
3  1.0  0.0  0.0  0.0
4  0.0  0.0  0.0  1.0
5  0.0  0.0  1.0  0.0
6  1.0  0.0  0.0  0.0
7  0.0  1.0  0.0  0.0
8  0.0  0.0  0.0  1.0
9  1.0  0.0  0.0  0.0

In [113]:
data = {"Name": ["Aman","Riya","Rahul","Sneha","Arjun","Pooja","Karan","Neha","Vikram","Anjali"],
    "Gender": ["Male","Female","Male","Female","Male","Female","Male","Female","Male","Female"],
    "Department": ["CSE","IT","ECE","CSE","ME","IT","CSE","ECE","ME","CSE"],
    "City": ["Delhi","Mumbai","Kolkata","Delhi","Chennai","Mumbai","Delhi","Kolkata","Chennai","Delhi"],
    "Performance": ["Good","Average","Poor","Good","Average","Good","Good","Average","Poor","Good"]}

In [114]:
df = pd.DataFrame(data)

In [115]:
ord = OrdinalEncoder(categories=[['Poor','Average','Good']])
df["Performance_Encoded"] = ord.fit_transform(df[['Performance']])
df

     Name  Gender Department     City Performance  Performance_Encoded
0    Aman    Male        CSE    Delhi        Good                  2.0
1    Riya  Female         IT   Mumbai     Average                  1.0
2   Rahul    Male        ECE  Kolkata        Poor                  0.0
3   Sneha  Female        CSE    Delhi        Good                  2.0
4   Arjun    Male         ME  Chennai     Average                  1.0
5   Pooja  Female         IT   Mumbai        Good                  2.0
6   Karan    Male        CSE    Delhi        Good                  2.0
7    Neha  Female        ECE  Kolkata     Average                  1.0
8  Vikram    Male         ME  Chennai        Poor                  0.0
9  Anjali  Female        CSE    Delhi        Good                  2.0

In [116]:
data = {
    "sname":['S1','S2','S3','S4'],
    "Height":[162,171,155,165],
    "Weight":[63,60,50,62],
    "Speed":[5,3,7,2]
}

In [117]:
dataset = pd.DataFrame(data)
print(dataset)

  sname  Height  Weight  Speed
0    S1     162      63      5
1    S2     171      60      3
2    S3     155      50      7
3    S4     165      62      2

In [118]:
from sklearn.preprocessing import Normalizer
norm = Normalizer()
cols = dataset[["Height","Weight","Speed"]]
data = norm.fit_transform(cols)
df = pd.DataFrame(data,columns=cols.columns)

print(df)

     Height    Weight     Speed
0  0.931619  0.362296  0.028754
1  0.943471  0.331042  0.016552
2  0.950831  0.306720  0.042941
3  0.936036  0.351722  0.011346

In [119]:
from sklearn.preprocessing import StandardScaler
SS = StandardScaler()
cols = dataset[["Height","Weight","Speed"]]
data = SS.fit_transform(cols)
df = pd.DataFrame(data,columns=cols.columns)

print(df)

     Height    Weight     Speed
0 -0.216982  0.822688  0.390567
1  1.345285  0.241967 -0.650945
2 -1.432078 -1.693769  1.432078
3  0.303774  0.629114 -1.171700